body {
  background: rgb(230, 209, 156);
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  color: rgb(179, 127, 59);
}

p {
  padding: 40px;
}

a {
  padding-top: 10px;
  padding: 10px;
}
img {
  border: blanchedalmond;
  border-radius: 15px;
  margin-bottom: 20px;
}
